black
flake8
isort
mypy
types-requests
numpy
pandas
polars
scikit-learn
seaborn
ipython
ipykernel
lightgbm
catboost
#torch
#transformers
#fugashi
#unidic_lite
#timm
#opencv-python
#albumentations
#pytorch_lightning
#hydra-core
#faiss-cpu
#surprise
optuna
scipy
geopy
